# Arquivos e pastas do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDE e editores
.vscode/
.idea/

# Arquivos sensíveis - NUNCA ENVIE O .ENV!
.env
*.env.local

# Dependências do Node.js (Frontend)
/frontend/vue-app/node_modules/
/frontend/vue-app/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Build e Cache do .NET (Backend)
/backend/aspnetcore-api/src/bin/
/backend/aspnetcore-api/src/obj/
*.user
*.suo

# Logs
*.log